conversation-demo/flow.json
[{"id":"88b22386.a06158","type":"watson-conversation-v1","z":"d0becb9.4f306b8","name":"","workspaceid":"977d08ab-eb1e-49c4-989a-9a1185f14662","multiuser":false,"context":false,"x":560,"y":335.20001220703125,"wires":[["a79456b1.a48e9","e5c8684b.8a9aa"]]},{"id":"e5c8684b.8a9aa","type":"debug","z":"d0becb9.4f306b8","name":"","active":false,"console":"false","complete":"false","x":797,"y":262.20001220703125,"wires":[]},{"id":"91cb8282.1e92e","type":"http in","z":"d0becb9.4f306b8","name":"","url":"/faq","method":"get","swaggerDoc":"","x":108.60006713867188,"y":166.76666259765625,"wires":[["4c013fba.ee66d8"]]},{"id":"e631411e.0da91","type":"template","z":"d0becb9.4f306b8","name":"画面を表示する","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ja\">\n<head>\n    <meta charset=\"UTF-8\">\n    <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" rel=\"stylesheet\"\n          integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">\n    <script src=\"//code.jquery.com/jquery-2.2.4.min.js\"></script>\n    <script>{{{payload.script}}}</script>\n    <title>Conversation Demo</title>\n</head>\n\n<body>\n<div class=\"container\">\n    <h1>Conversation Demo</h1>\n\n    <form id=\"formId\">\n        <div class=\"input-group\">\n            <input type=\"text\" class=\"form-control\" id=\"textId\" placeholder=\"メッセージを入力\">\n            <span class=\"input-group-btn\">\n                <button type=\"submit\" class=\"btn btn-primary\">送信</button>\n            </span>\n        </div>\n    </form>\n\n    <hr>\n\n    <div id=\"resultId\"></div>\n</div>\n</body>\n</html>","x":569.60009765625,"y":167,"wires":[["7e86125d.e33bec"]]},{"id":"7e86125d.e33bec","type":"http response","z":"d0becb9.4f306b8","name":"","x":809.2333984375,"y":166.64999389648438,"wires":[]},{"id":"541038a6.cf7508","type":"http in","z":"d0becb9.4f306b8","name":"","url":"/faq","method":"post","swaggerDoc":"","x":108.2333984375,"y":336.1499938964844,"wires":[["a08e6ae5.339328","60b8080e.6bd63"]]},{"id":"a79456b1.a48e9","type":"http response","z":"d0becb9.4f306b8","name":"","x":806.090576171875,"y":334.93572998046875,"wires":[]},{"id":"a08e6ae5.339328","type":"debug","z":"d0becb9.4f306b8","name":"","active":false,"console":"false","complete":"req.body","x":335.2333984375,"y":259.6499938964844,"wires":[]},{"id":"60b8080e.6bd63","type":"change","z":"d0becb9.4f306b8","name":"パラメータを設定する","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.body.text","tot":"msg"},{"t":"set","p":"additional_context","pt":"msg","to":"req.body.context","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330.7333984375,"y":335.76666259765625,"wires":[["88b22386.a06158"]]},{"id":"4c013fba.ee66d8","type":"template","z":"d0becb9.4f306b8","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"'use strict';\n$(function () {\n    let context = {};\n\n    $(document).ready(() => {\n        const textId = $('#textId');\n        const resultId = $('#resultId');\n\n        let messageLeft = (text) => {\n            message('<p class=\"text-left\">' + text + '</p>');\n        };\n\n        let messageRight = (text) => {\n            message('<p class=\"text-right\">' + text + '</p>');\n        };\n\n        let message = (text) => {\n            resultId.append(text);\n        };\n\n        let chat = (text) => {\n            $.ajax({\n                \"type\": \"POST\",\n                \"url\": \"/faq\",\n                \"data\": {\n                    \"text\": text,\n                    \"context\": context\n                }\n            }).done((result) => {\n                context = result.context;\n                messageRight(result.output.text);\n            }).fail((result) => {\n                messageRight('エラーが発生しました。');\n            }).always((result) => {\n            });\n        };\n\n        // 初回 Conversation\n        if (Object.keys(context).length === 0) {\n            chat(' ');\n        }\n\n        // Submit 時の処理 (送信ボタンをクリック)\n        $('#formId').on('submit', () => {\n            let text = textId.val();\n\n            // 入力値が空でない場合\n            if (text !== '') {\n                messageLeft(text);\n                chat(text);\n\n                // 入力値をクリアする。\n                textId.val('');\n            }\n\n            // Submit しない。\n            return false;\n        });\n    });\n});","x":302.7333984375,"y":166.76666259765625,"wires":[["e631411e.0da91"]]}]