conversation-demo/flow.json
[{"id":"d609eaec.77aab8","type":"watson-conversation-v1","z":"81c938d3.b15a78","name":"","workspaceid":"d12558e0-d98e-4d2d-ba99-55f7b62a6494","multiuser":false,"context":false,"x":550.7666015625,"y":291.433349609375,"wires":[["d81b5a21.3b81d8","d875e318.034cf"]]},{"id":"d875e318.034cf","type":"debug","z":"81c938d3.b15a78","name":"","active":false,"console":"false","complete":"false","x":787.7666015625,"y":219.433349609375,"wires":[]},{"id":"1f348f18.6fa2f1","type":"http in","z":"81c938d3.b15a78","name":"","url":"/faq2","method":"get","swaggerDoc":"","x":99.36666870117188,"y":64,"wires":[["3cf059fd.473d66"]]},{"id":"5bbc11e2.c9b45","type":"template","z":"81c938d3.b15a78","name":"画面を表示する","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ja\">\n<head>\n    <meta charset=\"UTF-8\">\n    <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" rel=\"stylesheet\"\n          integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">\n    <script src=\"//code.jquery.com/jquery-2.2.4.min.js\"></script>\n    <script>{{{payload.script}}}</script>\n    <title>Conversation Demo</title>\n</head>\n\n<body>\n<div class=\"container\">\n    <h1>Conversation Demo</h1>\n\n    <form id=\"formId\">\n        <div class=\"input-group\">\n            <input type=\"text\" class=\"form-control\" id=\"textId\" placeholder=\"メッセージを入力\">\n            <span class=\"input-group-btn\">\n                <button type=\"submit\" class=\"btn btn-primary\">送信</button>\n            </span>\n        </div>\n    </form>\n\n    <hr>\n\n    <div id=\"resultId\">\n        <p class=\"text-right\">{{{payload.welcome}}}</p>\n    </div>\n</div>\n</body>\n</html>","x":613.36669921875,"y":124.23333740234375,"wires":[["8cc09f99.51099"]]},{"id":"3cf059fd.473d66","type":"template","z":"81c938d3.b15a78","name":"ウェルカムメッセージを設定する","field":"payload.welcome","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"こんにちは、ご希望の音楽を再生します。","x":349.3666687011719,"y":63.23333740234375,"wires":[["59c19bed.7693a4"]]},{"id":"8cc09f99.51099","type":"http response","z":"81c938d3.b15a78","name":"","x":800,"y":123.88333129882812,"wires":[]},{"id":"718af86a.58cf28","type":"http in","z":"81c938d3.b15a78","name":"","url":"/faq2","method":"post","swaggerDoc":"","x":109,"y":294.3833312988281,"wires":[["9c6b4a70.fbdf38","74af17b5.dc5be8"]]},{"id":"d81b5a21.3b81d8","type":"http response","z":"81c938d3.b15a78","name":"","x":805.857177734375,"y":293.1690673828125,"wires":[]},{"id":"9c6b4a70.fbdf38","type":"debug","z":"81c938d3.b15a78","name":"","active":false,"console":"false","complete":"req.body","x":326,"y":216.88333129882812,"wires":[]},{"id":"74af17b5.dc5be8","type":"change","z":"81c938d3.b15a78","name":"パラメータを設定する","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.body.text","tot":"msg"},{"t":"set","p":"additional_context","pt":"msg","to":"req.body.context","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":321.5,"y":294,"wires":[["d609eaec.77aab8"]]},{"id":"59c19bed.7693a4","type":"template","z":"81c938d3.b15a78","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"'use strict';\nlet context = {};\n\n$(document).ready(() => {\n    $('#formId').on('submit', () => {\n        let textId = $('#textId');\n        let resultId = $('#resultId');\n        let text = textId.val();\n\n        // 入力値が空でない場合\n        if (text !== '') {\n            resultId.append('<p class=\"text-left\">' + text + '</p>');\n\n            $.ajax({\n                \"type\": \"POST\",\n                \"url\": \"/faq2\",\n                \"data\": {\n                    \"text\": text,\n                    \"context\": context\n                }\n            }).done((result) => {\n                context = result.context;\n                resultId.append('<p class=\"text-right\">' + result.output.text + '</p>');\n            }).fail((result) => {\n                resultId.append('<p>エラーが発生しました。</p>');\n            }).always((result) => {\n            });\n\n            // 入力値をクリアする。\n            textId.val('');\n        }\n        \n        // Submit しない。\n        return false;\n    });\n});","x":407.5,"y":124,"wires":[["5bbc11e2.c9b45"]]}]